In [1]:
#import the library sqlite3
#YOUR CODE 
import sqlite3
import numpy as np
from sqlite3 import Error

#create a new database and open a database connection with the name example
#YOUR CODE 
conn = sqlite3.connect('db/exemple.db')

# create a data cursor cur in order execute SQL statements and fetch results from SQL queries
#YOUR CODE 
cur = conn.cursor()

# Create table with the column date, side, symbol, qty, price
#YOUR CODE 

try :
    rqc =   """CREATE TABLE IF NOT EXISTS test (
                id INTEGER NOT NULL,
                date DATETIME NOT NULL,
                side TEXT NOT NULL,
                symbol TEXT NOT NULL,
                qty INTEGER NOT NULL,
                price FLOAT NOT NULL,
                PRIMARY KEY (id)
            );"""
    cur.execute(rqc)
    conn.commit()
except sqlite3.Error as error :
    if (str(error) == "table test already exists") :
        try :
            rqd = "DELETE FROM test"
            cur.execute(rqd)
            conn.commit()
        except sqlite3.Error as error :
            print("ERROR:\ncouldn't reset table")
            print(error)
    else :
        print("ERROR:\ncouldn't create table")
        print(error)

In [2]:
# Insert 3 row of data: the stock APPLE ( AAPL) with the date of transaction, the nature of side ( BUY or SELL),
#the quantity of the stock traded and the price
#YOUR CODE 
rq_insert = """INSERT INTO test (date, side, symbol, qty, price) VALUES 
('2022-01-19', 'BUY', 'AAPL', 3, 79.47), 
('2022-10-04', 'SELL', 'AAPL', 7, 19.99), 
('2021-11-24', 'BUY', 'AAPL', 13, 46.01);"""

conn.execute("PRAGMA busy_timeout = 30000")
count = cur.execute(rq_insert)

# Save (commit) the changes
#YOUR CODE 
conn.commit()
print(count)

<sqlite3.Cursor object at 0x000001D1FCD1F810>

In [3]:
#return all resulting rows
#YOUR CODE 
request_rows = "SELECT * FROM test"
cur.execute(request_rows)
all_genres = cur.fetchall()
print(all_genres)

# Close the connection
#YOUR CODE 

conn.close()

[(1, '2022-01-19', 'BUY', 'AAPL', 3, 79.47), (2, '2022-10-04', 'SELL', 'AAPL', 7, 19.99), (3, '2021-11-24', 'BUY', 'AAPL', 13, 46.01), (4, '2022-01-19', 'BUY', 'AAPL', 3, 79.47), (5, '2022-10-04', 'SELL', 'AAPL', 7, 19.99), (6, '2021-11-24', 'BUY', 'AAPL', 13, 46.01), (7, '2022-01-19', 'BUY', 'AAPL', 3, 79.47), (8, '2022-10-04', 'SELL', 'AAPL', 7, 19.99), (9, '2021-11-24', 'BUY', 'AAPL', 13, 46.01), (10, '2022-01-19', 'BUY', 'AAPL', 3, 79.47), (11, '2022-10-04', 'SELL', 'AAPL', 7, 19.99), (12, '2021-11-24', 'BUY', 'AAPL', 13, 46.01), (13, '2022-01-19', 'BUY', 'AAPL', 3, 79.47), (14, '2022-10-04', 'SELL', 'AAPL', 7, 19.99), (15, '2021-11-24', 'BUY', 'AAPL', 13, 46.01)]

## the construction of a financial database

Let’s start simple and only consider the structure for the equity data that we are gathering for now – in our case the constituents of the S&P500 index. We can tag on the various tables and possibly whole databases to the mix as and when we need to, i.e. when we start to deal with the spot currency data and fund data that we plan to include.

the  plan is to segregate theequity data into 4 separate tables, using unique ids and foreign keys to create the relevant relationships and links between them.

The tables will be as follows:

<img src='C:/Users/User/Desktop/Formations_Data-LAPTOP-JP680GIQ/Formations_Data-LAPTOP-JP680GIQ/Organisme_formation/Ib_cegos/AXA/MCD.png'>

<img src='C:\Users\User\Desktop\Formations_Data-LAPTOP-JP680GIQ\Formations_Data-LAPTOP-JP680GIQ\Organisme_formation\Ib_cegos\AXA\MCD.png'>

In [18]:
#import the library os and the module Error of the library sqlite3
import os
import sqlite3
from sqlite3 import Error

#YOUR CODE
def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    return conn
     


#YOUR CODE 
def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)
    
        

#the name of the database
db_name = "db/data.db"


def main():
    
    database = db_name

    
    # create the tables according to the MCD
    sql_create_exchange_table = """ CREATE TABLE IF NOT EXISTS exchange (
                                        id integer ,
                                        name text NOT NULL,
                                        currency text NOT NULL,
                                        code text NOT NULL UNIQUE,
                                        PRIMARY KEY(id)
                                    ); """
    
    sql_create_company_table = """  CREATE TABLE IF NOT EXISTS company (    
                                        id integer ,
                                        name text NOT NULL,
                                        industry text,
                                        sector text,
                                        hq_location text,
                                        security_id integer,
                                        PRIMARY KEY(id),
                                        FOREIGN KEY (security_id) REFERENCES security (id)
                                    ); """
    
    
    sql_create_security_table = """ CREATE TABLE IF NOT EXISTS security (
                                        id integer,
                                        ticker text NOT NULL,
                                        name text NOT NULL,
                                        company_id integer,
                                        exchange_id integer,
                                        PRIMARY KEY(id),
                                        FOREIGN KEY (company_id) REFERENCES company (id),
                                        FOREIGN KEY (exchange_id) REFERENCES exchange (id)
                                    ); """
    
    sql_create_security_price_table =  """ CREATE TABLE IF NOT EXISTS security_price (
                                        id integer,
                                        date text NOT NULL,
                                        open decimal NOT NULL,
                                        high decimal NOT NULL,
                                        low decimal NOT NULL,
                                        close decimal NOT NULL,
                                        volume integer,
                                        adj_close decimal NOT NULL,
                                        security_id integer,
                                        PRIMARY KEY(id),
                                        FOREIGN KEY (security_id) REFERENCES security (id)
                                    ); """

    
    # create a database connection    
    conn = create_connection(database)
    
    # create tables
    if conn is not None:
        # create exchange table
        create_table(conn, sql_create_exchange_table)
    
        # create company table
        create_table(conn, sql_create_company_table)    
        
        # create security table
        create_table(conn, sql_create_security_table)    
        
        # create security_price table
        create_table(conn, sql_create_security_price_table)
    
        
    else:
        print("Error! cannot create the database connection.")
main()

2.6.0

In [5]:
#import the library pandas , requests and io
import pandas as pd
exchange_data = pd.read_csv("https://www.iso20022.org/sites/default/files/ISO10383_MIC/ISO10383_MIC.csv", encoding='iso-8859-1' )

In [6]:
exchange_data.head(30)

,MIC,OPERATING MIC,OPRT/SGMT,MARKET NAME-INSTITUTION DESCRIPTION,LEGAL ENTITY NAME,LEI,MARKET CATEGORY CODE,ACRONYM,ISO COUNTRY CODE (ISO 3166),CITY,WEBSITE,STATUS,CREATION DATE,LAST UPDATE DATE,LAST VALIDATION DATE,EXPIRY DATE,COMMENTS
0,DRSP,DRSP,OPRT,EURONEXT UK - REPORTING SERVICES,EURONEXT LONDON LIMITED,969500HMVSZ0TCV65D58,APPA,NaN,GB,LONDON,WWW.EURONEXT.COM,ACTIVE,20210927,20210927,20210927.0,NaN,APPROVED PUBLICATION ARRANGEMENT.
1,XCNQ,XCNQ,OPRT,CANADIAN SECURITIES EXCHANGE,"CNSX MARKETS, INC.",NaN,RMKT,CSE LISTED,CA,TORONTO,WWW.THECSE.COM,ACTIVE,20090427,20210927,20210927.0,NaN,FORMERLY KNOWN AS PURE (CSE OTHER LISTED) FORM...
2,PURE,XCNQ,SGMT,CANADIAN SECURITIES EXCHANGE - PURE,"CNSX MARKETS, INC.",NaN,NSPD,CSE-PURE,CA,TORONTO,WWW.THECSE.COM,ACTIVE,20061225,20210927,20210927.0,NaN,FORMERLY KNOWN AS PURE (CSE OTHER LISTED) FORM...
3,ZODM,ZODM,OPRT,ZODIA MARKETS,ZODIA MARKETS HOLDINGS LIMITED,5493006GZOHISU7JTC27,NSPD,NaN,GB,LONDON,WWW.ZODIA-MARKETS.COM,ACTIVE,20210927,20210927,20210927.0,NaN,CRYPTOASSET BROKERAGE AND EXCHANGE.
4,FNFX,BGCF,SGMT,FENICS FX ECN,"FENICS FX, LLC",549300I0NONVB9S5DZ56,NSPD,NaN,US,NEW YORK,WWW.FENICSFX.COM,ACTIVE,20210927,20210927,20210927.0,NaN,ELECTRONIC COMMUNICATIONS NETWORK.
5,NORX,NORX,OPRT,NASDAQ OSLO ASA,NASDAQ OSLO ASA,5493003IZZWOHHJY1L88,RMKT,NaN,NO,OSLO,WWW.NASDAQ.COM/SOLUTIONS/EUROPEAN-COMMODITIES,ACTIVE,20110523,20210927,20210927.0,NaN,NaN
6,POSE,POSE,OPRT,PORTFOLIO STOCK EXCHANGE,"EUROPEAN DIGITAL SECURITIES EXCHANGE, S.L.",959800UP9ANDBHTKJ408,MLTF,NaN,ES,MADRID,WWW.PORTFOLIO.EXCHANGE,ACTIVE,20210927,20210927,NaN,NaN,MULTILATERAL TRADING FACILITY.
7,PUND,PUND,OPRT,PUNDION LLC,PUNDION LLC,549300FOYST42PEQ1R51,NSPD,NaN,US,NEW YORK,WWW.PUNDION.COM,ACTIVE,20210927,20210927,20210927.0,NaN,EQUITY PRODUCTS.
8,UCBG,UCBG,OPRT,UNICREDIT BULBANK AD,UNICREDIT BULBANK AD,549300Z7V2WOFIMUEK50,SINT,NaN,BG,SOFIA,WWW.UNICREDITBULBANK.BG,ACTIVE,20210927,20210927,20210927.0,NaN,SYSTEMATIC INTERNALISER.
9,NZFX,XASX,SGMT,ASX - NEW ZEALAND FUTURES & OPTIONS,AUSTRALIAN SECURITIES EXCHANGE (ASX),549300SDXT36XYPVWI79,NSPD,ASX,AU,SYDNEY,WWW.ASX.COM.AU,ACTIVE,20070924,20210927,20210927.0,NaN,NaN
10,XOCH,XOCH,OPRT,"ONECHICAGO, LLC",NaN,NaN,NSPD,NaN,US,CHICAGO,WWW.ONECHICAGO.COM,EXPIRED,20050627,20210823,20210823.0,20210823.0,NaN
11,BBLX,BBLX,OPRT,BONDBLOX EXCHANGE,BONDEVALUE PTE LTD,NaN,NSPD,BBX,SG,SINGAPORE,WWW.BONDBLOX.COM,ACTIVE,20210823,20210823,20210823.0,NaN,NaN
12,BACR,BAIP,SGMT,BANK OF AMERICA SECURITIES - CENTRAL RISK,NaN,GGDZP1UYGU9STUHRDP48,NSPD,NaN,HK,HONG KONG,WWW.BOFAML.COM,ACTIVE,20210726,20210726,NaN,NaN,NaN
13,SPBE,SPBE,OPRT,SPB EXCHANGE - ALL MARKETS,PUBLIC JOINT-STOCK COMPANY SPB EXCHANGE,253400T8G8SXRUHTL526,NSPD,SPB,RU,MOSCOW,HTTPS://SPBEXCHANGE.RU,ACTIVE,20210322,20210726,20210726.0,NaN,"SHARES, DEPOSITARY RECEIPTS, GOVERNMENT BONDS,..."
14,OTCM,OTCM,OPRT,OTC LINK ATS - OTC MARKETS,OTC MARKETS GROUP INC.,254900LQDMW14QIVAH45,NSPD,NaN,US,NEW YORK,WWW.OTCMARKETS.COM,ACTIVE,20120528,20210726,20210726.0,NaN,OPERATIONAL MIC FOR OTC MARKETS.
15,STUF,XSTU,SGMT,BOERSE STUTTGART - FREIVERKEHR - TECHNICAL PLA...,BOERSE STUTTGART,529900A0WHA0NVXY0G45,NSPD,NaN,DE,STUTTGART,WWW.BOERSE-STUTTGART.DE,ACTIVE,20210726,20210726,NaN,NaN,NaN
16,XSTP,XSTU,SGMT,BOERSE STUTTGART - TECHNICAL PLATFORM 3,BOERSE STUTTGART,529900A0WHA0NVXY0G45,NSPD,NaN,DE,STUTTGART,WWW.BOERSE-STUTTGART.DE,ACTIVE,20210726,20210726,NaN,NaN,NaN
17,STUE,XSTU,SGMT,BOERSE STUTTGART - REGULIERTER MARKT - TECHNIC...,BOERSE STUTTGART,529900A0WHA0NVXY0G45,NSPD,NaN,DE,STUTTGART,WWW.BOERSE-STUTTGART.DE,ACTIVE,20210726,20210726,NaN,NaN,NaN
18,FREX,FREX,OPRT,COINBASE DERIVATIVES,"LMX LABS, LLC",549300QHD76EP6ZKTT48,DCMS,CDE,US,CHICAGO,WWW.COINBASE.COM/DERIVATIVES,ACTIVE,20201026,20220822,20220822.0,NaN,NaN
19,HCER,HMTF,SGMT,HI-CERT - MULTILATERAL TRADING FACILITY,HI-MTF SIM S.P.A.,815600F681369854E440,MLTF,NaN,IT,MILANO,WWW.HIMTF.COM,ACTIVE,20200727,20210628,20210628.0,NaN,MTF FOR CERTIFICATES AND COVERED WARRANT.
20,IDXM,IDXM,OPRT,"IDX MARKETS, LLC","IDX MARKETS, LLC",9845006C2FC4E0741B90,ATSS,NaN,US,NEW YORK,WWW.IDXMARKETS.COM,ACTIVE,20210628,20210628,NaN,NaN,REGISTERED ALTERNATIVE TRADING SYSTEM (ATS) FO...
21,MBCP,MBCP,OPRT,MILLENNIUM BCP,BANCO COMERCIAL PORTUGUES S.A.,JU1U6S0DG9YLT7N8ZV32,SINT,MILLENNIUMBCP,PT,PORTO,HTTPS://IND.MILLENNIUMBCP.PT/PT/PARTICULARES/P...,ACTIVE,20210628,20210628,NaN,NaN,SYSTEMATIC INTERNALISER IN FX DERIVATIVES AND ...
22,GMBG,MBUL,SGMT,MTF SOFIA - GROWTH MARKET,CAPMAN AD,5299003795MPR9UZ1J25,NSPD,NaN,BG,SOFIA,WWW.CAPMAN.BG,ACTIVE,20210628,20210628,NaN,NaN,NaN
23,OCEA,OCEA,OPRT,BLUE OCEAN ALTERNATIVE TRADING SYSTEM,"BLUE OCEAN ATS, LLC",NaN,ATSS,BOATS,US,SEA GIRT,WWW.BLUEOCEANATS.COM,ACTIVE,20210628,20210628,NaN,NaN,"BLUE OCEAN ATS, LLC IS A US REGISTERED BROKER ..."
24,OSDS,OSDS,OPRT,OSL DIGITAL SECURITIES EXCHANGE,NaN,549300WBXH3AFK5BRJ77,NSPD,OSLDS,HK,HONG KONG,HTTPS://OSL.COM/EN/HOME,ACTIVE,20210628,20210628,NaN,NaN,OSL DIGITAL SECURITIES - ASIA'S LEADING DIGITA...
25,OSSG,OSSG,OPRT,OSL SG EXCHANGES,OSL SG PTE. LTD.,5493005YD2GDV5LCUD15,NSPD,OSLSG,SG,SINGAPORE,WWW.SG.OSL.COM,ACTIVE,20210628,20210628,NaN,NaN,ASIA LEADING DIGITAL ASSET PLATFORM - OSL SG E...
26,RR4G,RR4G,OPRT,ROUTE4GAS,ROUTE4GAS B.V.,724500EY0KGMVVONVS49,NSPD,R4G,NL,AMSTERDAM,HTTPS://ROUTE4GAS.COM/INFO/,ACTIVE,20210628,20210628,NaN,NaN,NaN
27,TRUK,TRUK,OPRT,TRADING 212 UK LIMITED,TRADING 212 UK LIMITED,2138006AXBAC4F1AWD58,NSPD,NaN,GB,LONDON,WWW.TRADING212.COM,ACTIVE,20210628,20210628,NaN,NaN,NaN
28,UGEN,UGEN,OPRT,UNITEDBLOCKTRADE,UNITED GENERAL LIMITED,9845009F695B98C2BA24,NSPD,NaN,GB,BRADFORD,WWW.UNITEDGENERAL.CO.UK,ACTIVE,20210628,20210628,NaN,NaN,NaN
29,XGLO,XWAR,SGMT,WARSAW STOCK EXCHANGE/ EQUITIES/GLOBAL CONNECT...,WARSAW STOCK EXCHANGE,25940039ZHD3Z37GKR71,MLTF,NaN,PL,WARSAW,WWW.GPW.PL,ACTIVE,20210426,20210628,20210628.0,NaN,MULTILATERAL TRADING FACILITY.

In [7]:
exchange_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2561 entries, 0 to 2560
Data columns (total 17 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   MIC                                  2561 non-null   object
 1   OPERATING MIC                        2561 non-null   object
 2   OPRT/SGMT                            2561 non-null   object
 3   MARKET NAME-INSTITUTION DESCRIPTION  2561 non-null   object
 4   LEGAL ENTITY NAME                    495 non-null    object
 5   LEI                                  1833 non-null   object
 6   MARKET CATEGORY CODE                 2559 non-null   object
 7   ACRONYM                              890 non-null    object
 8   ISO COUNTRY CODE (ISO 3166)          2560 non-null   object
 9   CITY                                 2559 non-null   object
 10  WEBSITE                              2387 non-null   object
 11  STATUS                               2561 non-null   object
 12  CREATION DATE                        2561 non-null   int64
 13  LAST UPDATE DATE                     2561 non-null   int64
 14  LAST VALIDATION DATE                 213 non-null    float64
 15  EXPIRY DATE                          438 non-null    float64
 16  COMMENTS                             1502 non-null   object
dtypes: float64(2), int64(2), object(13)
memory usage: 340.3+ KB

In [8]:
exchange_data = exchange_data[['ISO COUNTRY CODE (ISO 3166)', 'MIC', 'MARKET NAME-INSTITUTION DESCRIPTION', 'ACRONYM']]
exchange_data.head()

,ISO COUNTRY CODE (ISO 3166),MIC,MARKET NAME-INSTITUTION DESCRIPTION,ACRONYM
0,GB,DRSP,EURONEXT UK - REPORTING SERVICES,NaN
1,CA,XCNQ,CANADIAN SECURITIES EXCHANGE,CSE LISTED
2,CA,PURE,CANADIAN SECURITIES EXCHANGE - PURE,CSE-PURE
3,GB,ZODM,ZODIA MARKETS,NaN
4,US,FNFX,FENICS FX ECN,NaN

In [9]:
exchange_data.rename(columns={'ISO COUNTRY CODE (ISO 3166)' : 'country_code', 
                              'MIC':'code', 
                              'MARKET NAME-INSTITUTION DESCRIPTION': 'name',
                              'ACRONYM':'acronym'}, inplace=True)
exchange_data.head()

  country_code  code                                 name     acronym
0           GB  DRSP    EURONEXT  UK - REPORTING SERVICES         NaN
1           CA  XCNQ         CANADIAN SECURITIES EXCHANGE  CSE LISTED
2           CA  PURE  CANADIAN SECURITIES EXCHANGE - PURE    CSE-PURE
3           GB  ZODM                        ZODIA MARKETS         NaN
4           US  FNFX                        FENICS FX ECN         NaN

In [10]:
exchange_data['id'] = exchange_data.index
exchange_data.head(10)

  country_code  code                                 name     acronym  id
0           GB  DRSP    EURONEXT  UK - REPORTING SERVICES         NaN   0
1           CA  XCNQ         CANADIAN SECURITIES EXCHANGE  CSE LISTED   1
2           CA  PURE  CANADIAN SECURITIES EXCHANGE - PURE    CSE-PURE   2
3           GB  ZODM                        ZODIA MARKETS         NaN   3
4           US  FNFX                        FENICS FX ECN         NaN   4
5           NO  NORX                      NASDAQ OSLO ASA         NaN   5
6           ES  POSE             PORTFOLIO STOCK EXCHANGE         NaN   6
7           US  PUND                          PUNDION LLC         NaN   7
8           BG  UCBG                 UNICREDIT BULBANK AD         NaN   8
9           AU  NZFX  ASX - NEW ZEALAND FUTURES & OPTIONS         ASX   9

In [45]:
exchange_data['currency']=exchange_data.country_code.map({'US':'USD', 'GB':'GBP', 'DE':'EUR','CA':'CAD','NO':'EUR','ES':'EUR','BG':'EUR'})
exchange_data[['id', 'name', 'currency', 'code']].head(10)
exchange = exchange_data[['id', 'name', 'currency', 'code']]
# create the column currency in the the dataframe exhange_data whose values 
#are mapped with the country code : US => USD, GB =>GBP, DE =>EUR

In [48]:
# save the data in a sql table exchange in the data db_name
conn = create_connection("db/data.db")
cur = conn.cursor()
exchange.to_sql('exchange',conn,if_exists='replace',index=False)
conn.commit()
conn.close()

2.6.0
        id                                 name currency  code
0        0    EURONEXT  UK - REPORTING SERVICES      GBP  DRSP
1        1         CANADIAN SECURITIES EXCHANGE      CAD  XCNQ
2        2  CANADIAN SECURITIES EXCHANGE - PURE      CAD  PURE
3        3                        ZODIA MARKETS      GBP  ZODM
4        4                        FENICS FX ECN      USD  FNFX
...    ...                                  ...      ...   ...
2556  2556                         IBKR EOS ATS      USD  IEOS
2557  2557                      INFRONT MARKETS      EUR  INFT
2558  2558                          EDX MARKETS      USD  EDXM
2559  2559              INTERACTIVE BROKERS LLC      USD  IBKR
2560  2560                                 BLOX      GBP  ALGO

[2561 rows x 4 columns]

In [50]:
# scrape wiki table with symbols and details of Dow Jones constituents
dj_constituents = pd.read_html('https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average#Components')[1]
dj_constituents.rename(columns={'Company':'name', 'Industry': 'industry', 'Symbol': 'ticker'}, inplace=True)
dj_constituents.head()

,name,Exchange,ticker,industry,Date added,Notes,Index weighting
0,3M,NYSE,MMM,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,2.88%
1,American Express,NYSE,AXP,Financial services,1982-08-30,NaN,3.56%
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31,NaN,4.88%
3,Apple,NASDAQ,AAPL,Information technology,2015-03-19,NaN,3.15%
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,NaN,3.40%

In [14]:
# scrape wiki table with symbols and details of s&P500 constituents
sp_constituents = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]#.to_csv('constintuents_current.csv', index=False)
sp_constituents.rename(columns={'Symbol': 'ticker', 'Security':'name', 'Headquarters Location': 'hq_location',
                                'GICS Sector': 'sector', 'GICS Sub-Industry':'industry'},inplace=True)
sp_constituents.head()

,ticker,name,SEC filings,sector,industry,hq_location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981

In [60]:
#concetenate the previous tables/dataframe sp_constituents & dj_constituents with  the columns'name', 'industry', 'sector', 'hq_location'
company_table = pd.concat([sp_constituents, dj_constituents])
company_table = company_table[['name', 'industry', 'sector', 'hq_location']]
#drop duplicate
company_table = company_table.drop_duplicates()
#sort
company_table = company_table.sort_values('name')
#reset index
company_table = company_table.reset_index()
#create the colum id based on the index
company_table['id'] = company_table.index

In [61]:
company_table

,index,name,industry,sector,hq_location,id
0,0,3M,Industrial Conglomerates,Industrials,"Saint Paul, Minnesota",0
1,0,3M,Conglomerate,NaN,NaN,1
2,1,A. O. Smith,Building Products,Industrials,"Milwaukee, Wisconsin",2
3,7,ADM,Agricultural Products,Consumer Staples,"Chicago, Illinois",3
4,9,ADP,Data Processing & Outsourced Services,Information Technology,"Roseland, New Jersey",4
...,...,...,...,...,...,...
528,499,Zebra Technologies,Electronic Equipment & Instruments,Information Technology,"Lincolnshire, Illinois",528
529,500,Zimmer Biomet,Health Care Equipment,Health Care,"Warsaw, Indiana",529
530,501,Zions Bancorporation,Regional Banks,Financials,"Salt Lake City, Utah",530
531,502,Zoetis,Pharmaceuticals,Health Care,"Parsippany, New Jersey",531
532,165,eBay,Internet & Direct Marketing Retail,Consumer Discretionary,"San Jose, California",532

In [64]:

#concetenate the previous tables/dataframe sp_constituents & dj_constituents with  the columns'ticker', 'name'
#drop duplicate
#sort
#reset index
#create the colum id based on the index

#YOUR CODE 
security_table = pd.concat([sp_constituents, dj_constituents])
security_table = security_table[['ticker', 'name']]
security_table = security_table.drop_duplicates()
security_table = security_table.sort_values('name')
security_table = security_table.reset_index()
security_table['id'] = security_table.index

In [65]:
security_table

     index ticker                  name   id
0        0    MMM                    3M    0
1        1    AOS           A. O. Smith    1
2        7    ADM                   ADM    2
3        9    ADP                   ADP    3
4       11    AES       AES Corporation    4
..     ...    ...                   ...  ...
509    499   ZBRA    Zebra Technologies  509
510    500    ZBH         Zimmer Biomet  510
511    501   ZION  Zions Bancorporation  511
512    502    ZTS                Zoetis  512
513    165   EBAY                  eBay  513

[514 rows x 4 columns]

In [ ]:
#create the foreign key :  populating the security table with the company_id
#first step : create a dictionary with key, value pairs being the name of the company and the corresponding id 
#within its own table, which will be our foreign key in the second table.

#YOUT CODE 
company_id_mapper =

In [ ]:
#Seconde step: create the foreign key company id 
#YOUR CODE

In [ ]:
#create the foreign key : populate the company table with the security_id:
#YOUR CODE

In [ ]:
#Reda the nyse.csv and the nasdaq.csv
#YOUR CODE 
nyse.head()

In [ ]:
nasdaq.head()

In [ ]:
#populate the exchange_id column : assign the correct exchange_id for each stock in the security table:
# the exchange_id of the nyse stocks will be 1300
#YOUR CODE
security_table

In [ ]:
#populate the exchange_id column : assign the correct exchange_id for each stock in the security table:
# the exchange_id of  will be 1300 for the nyse stocks and 367 for the nasdaq stocks
#YOUR CODE

#YOUR CODE 
security_table.head(30)

In [ ]:
#save the data in the sql table security and company of the database db_name
#YOUR CODE

In [ ]:
#Extraction the prices of YAHOO: WARNING this action may take 15 min !!!
from tqdm import tqdm_notebook as tqdm
import pandas_datareader.data as web
stock_pricing_dfs = []
for stock_id in tqdm(security_table['id']):
    try:
        stock_pricing_df = web.DataReader(security_table.iloc[stock_id]['ticker'], 
                           start='2010-1-1', 
                           end='2020-08-31', 
                           data_source='yahoo')
        stock_pricing_df['security_id'] = stock_id
        stock_pricing_dfs.append(stock_pricing_df)
    except:
        pass
security_price_table = pd.concat(stock_pricing_dfs)

In [ ]:
security_price_table.info()

In [ ]:
#insert data in the table security_price
security_price_table.columns = ['high', 'low', 'open', 'close', 'volume', 'adj_close', 'security_id']
security_price_table.reset_index(inplace=True)
security_price_table['id'] = security_price_table.index
print(security_price_table.head())
security_price_table.to_sql("security_price", conn, if_exists="append", index=False)